<% layout ("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <h1>Create new Listing</h1>
            <form method="POST" action="/listings"  novalidate class="needs-validation"
             enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-lable">Title</label>
                    <input type="text" name="listing[title]"  placeholder="Add the catchy title" class="form-control" required>
                    <div class="valid-feedback">
                        Title-Looks good!
                      </div>
                </div>

                <div class="mb-3">
                    <label for="description"  class="form-lable">Description</label>
                    <textarea name="listing[description]"  type="text" class="form-control" required ></textarea>
                    <div class="invalid-feedback">
                           Please enter the sort description!
                          </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-lable">Upload Listing Image</label>
                    <input type="file" name="listing[image]"  class="form-control" required>
                </div>

                <div class="row mt-3">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-lable">Price</label>
                        <input  name="listing[price]" placeholder="1200" class="form-control"  required>
                        <div class="invalid-feedback">
                           Price should be valid!
                          </div>
                    </div>
                    

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-lable">Country</label>
                        <input type="text" name="listing[country]"  placeholder="india" class="form-control" required>
                        <div class="invalid-feedback">
                           Countery name should be valid!
                          </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-lable">Location</label>
                    <input type="text" name="listing[location]"  placeholder="prayagraj" class="form-control" required>
                    <div class="invalid-feedback">
                           Location should be valid!
                          </div>
                </div>
                <br>
                <button class="btn btn-dark add mb-5">add</button>

            </form>
        </div>
    </div>